@import url(http://fonts.googleapis.com/css?family=Roboto:300,500);
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .4em 0 .4em;
    font-weight: 500;
}
h4{	
	background-color: #FFF829;
	font-size: 1.5em;
}

em{
  color: red;
  font-weight: 500;
}

/* unvisited link */
a:link {
    color: #7326AE;
    font-weight: 500;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #C5208F;
}

/* mouse over link */
a:hover {
    color: #87005B;
}

/* selected link */
a:active {
    color: #87005B;
}

html, body, #map {
	height: 100%;
}
div.fixed {
	position: fixed;
	margin: 0px;
	padding: 10px;
	top: 0px;
	right: 0px;
	width: 266px;
	height: 500px;
	/*border: 3px solid #8AC007;*/
	background: rgba(255,255,255,.8);
}
p.footer{
	position: absolute;
	bottom: 10px;
	margin: 0;
}

input{
  border: 0px;
  background-color: #9BD602;
  /*font-size: 14px;*/
  border-radius: 4px;
  /*outline: 5;*/
}
input[type="button"] {
  padding: 8px 16px;
  color: white;
  background-color: #9BD602;
}
input[type="button"]:hover {
  background-color: #79A700;
}
input[type="text"] {
  padding: 4px 2px;
  margin: 0px 6px;
  color: black;
  background-color: white;
  width: 80px;
}

svg {
  position: relative;
}

path {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
  stroke-width: 1.5px;
}

circle {
  fill: #FFD529;
  fill-opacity: .2;
  stroke: grey;
  stroke-width: 0px;
}

rect {
  /*fill: #000;*/
  /*fill-opacity: .2;*/
  stroke-width: 0px;
}

circle:hover {
  fill: #E3B602;
  fill-opacity: .7;
  stroke: grey;
  stroke-width: 1px;
}