<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>DMC Web Stack</title>

        <!-- import reference files -->
        <script type="text/javascript" src="./static/lib/d3.js"></script>
  		<script type="text/javascript" src="./static/lib/queue.js"></script>
  		<link rel="stylesheet" href="./static/lib/leaflet.css" />
  		<script type="text/javascript" src="./static/lib/leaflet.js"></script>

  		<!-- import custom stylesheet -->
  		<link rel="stylesheet" href="./static/style.css" />
  		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    </head>
    <body>

    	<!-- create map container -->
    	<div id="map"></div>

    	<!-- create fixed HUD -->
    	<div class="fixed">
    		<h4>DMC Web Stack Demo</h4>
    		<p>Interactive map using data scraped from htpp://www.fang.com.</p>
    		<p class="footer">&copy;2015 Danil Nagy</p>
    		<input name="updateButton" 
           		type="button" 
           		value="Update Random Data" 
           		onclick="updateData()" />
           	</div>

        <!-- call main function script -->
    	<script type="text/javascript" src="./static/script.js"></script>

    </body>
</html>  