<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>DMC Web Stack</title>

        <!-- import reference files -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script type="text/javascript" src="./static/lib/d3.js"></script>
  		<script type="text/javascript" src="./static/lib/queue.js"></script>
  		<link rel="stylesheet" href="./static/lib/leaflet.css" />
  		<script type="text/javascript" src="./static/lib/leaflet.js"></script>

  		<!-- import custom stylesheet -->
  		<link rel="stylesheet" href="./static/style.css" />
  		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    </head>
    <body>

    	<!-- create map container -->
    	<div id="map"></div>

    	<!-- create fixed HUD -->
    	<div class="fixed">
    		<h4>DMC Web Stack</h4>
    		<p>Interactive map using data scraped from htpp://www.fang.com.</p>
    		<p>Click this button to request new data from server backend using current map extents:</p>
    		<p class="footer"><a href="https://github.com/danilnagy/dmc_stack" target="_blank">GIT source</a><br>&copy;2015 Danil Nagy</p>
    		<form>
    		<input name="updateButton" 
           		type="button" 
           		value="Update Random Data" 
           		onclick="updateWithCheck()" /><br>
           		<input id="checkHM" type="checkbox">Generate Heat Map<br>
           	</form>
       		<p>Click this button to run heat map training on the backend and return results:</p>
       		<input name="hmButton" 
           		type="button" 
           		value="Generate Heat Map" 
           		onclick="generateHeatMap()" />
           	</div>

        <!-- call main function script -->
    	<script type="text/javascript" src="./static/script.js"></script>

    </body>
</html>  